@page "/meeting-bookings"
@using Altinay.Localization
@using Altinay.Meeting
@using Altinay.Meeting.CreateUpdateDtos
@using Altinay.Meeting.IAppServices
@using Altinay.Meeting.MeetingRoomDtos
@using Blazorise
@using Microsoft.Extensions.Localization
@using Volo.Abp
@using Volo.Abp.Application.Dtos
@using Volo.Abp.AspNetCore.Components.Web
@using Altinay.Blazor.Components.Pages

@inject IBookingAppService BookingAppService
@inject IRoomAppService RoomAppService
@inject IFloorAppService FloorAppService
@inject IStringLocalizer<AltinayResource> L


<Row>
    <Column>
        <Tabs SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged">
            <Items>
                @foreach (var floor in Floor)
                {
                    <Tab Name="@floor.Id.ToString()"> @floor.Name</Tab>
                }
            </Items>
            <Content>
                @foreach (var floor in Floor)
                {
                    <TabPanel Name="@floor.Id.ToString()">
                        <Strong>@floor.Description</Strong>
                    </TabPanel>
                }
            </Content>
        </Tabs>
    </Column>
    <Column ColumnSize="ColumnSize.IsAuto">
        <Button color="Color.Primary" Size="Size.Small" Clicked="OpenFloorModalAsync" Position="Position.Sticky">
            <Icon Name="IconName.PlusSquare" />
            @L["NewFloor"]
        </Button>
        <Button color="Color.Primary" Size="Size.Small" Clicked="OpenRoomModalAsync" Position="Position.Sticky">
            <Icon Name="IconName.PlusSquare" />
            @L["NewRoom"]
        </Button>
    </Column>
</Row>

<CreateFloorModal @ref="FloorModalRef"
                  Visible="IsCreateModalVisible"
                  VisibleChanged="@(v => IsCreateModalVisible = v)"
                  OnCreated="ReloadFloorsAsync" />

<CreateRoomModal @ref="RoomModalRef"
                 Visible="IsCreateModalVisible"
                 VisibleChanged="@(v => IsCreateModalVisible = v)"
                 FloorId="@SelectedFloorId"
                 OnCreated="ReloadFloorsAsync" />

@code {
    private List<FloorDto> Floor = new();
    private string SelectedTab;
    private bool IsCreateModalVisible;
    private CreateFloorModal FloorModalRef;

    private Guid SelectedFloorId
    {
        get
        {
            return Guid.TryParse(SelectedTab, out var id) ? id : Guid.Empty;
        }
    }

    private bool IsRoomModalVisible;
    private CreateRoomModal RoomModalRef;

    protected override async Task OnInitializedAsync()
    {
        await ReloadFloorsAsync();
        await base.OnInitializedAsync();
    }

    private Task OnSelectedTabChanged(string name)
    {
        SelectedTab = name;
        return Task.CompletedTask;
    }

    private async Task OpenFloorModalAsync()
    {
        FloorModalRef?.Reset();
        IsCreateModalVisible = true;
        await Task.CompletedTask;
    }

    private async Task OpenRoomModalAsync()
    {
        RoomModalRef?.Reset();
        IsCreateModalVisible = true;
        await Task.CompletedTask;
    }

    private async Task ReloadFloorsAsync()
    {
        var result = await FloorAppService.GetListAsync(new PagedAndSortedResultRequestDto());
        Floor = result.Items.ToList();

        if (Floor.Any())
            SelectedTab = Floor.Last().Id.ToString();
    }





}
