@page "/meeting-bookings"
@using Microsoft.Extensions.Localization
@using Altinay.Localization
@using Altinay.Meeting
@using Altinay.Meeting.CreateUpdateDtos
@using Altinay.Meeting.IAppServices
@using Altinay.Meeting.MeetingRoomDtos
@using Altinay.Blazor.Components.Pages
@using Blazorise
@using Blazorise.Scheduler
@using Volo.Abp
@using Volo.Abp.Users
@using Volo.Abp.Application.Dtos
@using Volo.Abp.AspNetCore.Components.Web

@inject IBookingAppService BookingAppService
@inject IRoomAppService RoomAppService
@inject IFloorAppService FloorAppService
@inject IStringLocalizer<AltinayResource> L

@inherits AbpCrudPageBase<IBookingAppService, BookingDto, Guid, BookingInputListDto, CreateUpdateBookingDto>

<Row>
    <Column ColumnSize="ColumnSize.Is10">
        <Tabs SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged">
            <Items>
                @foreach (var floor in Floor.AsEnumerable().Reverse())
                {
                    <Tab Name="@floor.Id.ToString()"> @floor.Name</Tab>
                }
            </Items>
            <Content>
                @foreach (var floor in Floor.AsEnumerable().Reverse())
                {
                    <TabPanel Name="@floor.Id.ToString()">
                        <Strong>@floor.Description</Strong>
                        <CardDeck>
                            @foreach (var room in floor.Rooms)
                            {
                                <Card>
                                    <CardBody Border="Border.Rounded.Primary">
                                        <CardTitle Size="3">@room.Name</CardTitle>
                                        <CardText>
                                            Description: @room.Description <br />
                                            Capacity: @room.Capacity<b></b>
                                        </CardText>                                        
                                    </CardBody>
                                    <CardFooter>
                                        <Button Color="Color.Primary">Book @room.Name</Button>
                                    </CardFooter>
                                </Card>
                            }
                        </CardDeck>
                    </TabPanel>
                }
            </Content>
        </Tabs>
    </Column>
    <Column ColumnSize="ColumnSize.IsAuto">
        <Button color="Color.Primary" Size="Size.Small" Clicked="OpenFloorModalAsync" Position="Position.Static">
            <Icon Name="IconName.PlusSquare" />
            @L["NewFloor"]
        </Button>
    </Column>
    <Column>
        <Button color="Color.Primary" Size="Size.Small" Clicked="OpenRoomModalAsync" Position="Position.Static">
            <Icon Name="IconName.PlusSquare" />
            @L["NewRoom"]
        </Button>
    </Column>
</Row>

<CreateFloorModal @ref="FloorModalRef"
                  Visible="IsCreateFloorVisible"
                  VisibleChanged="@(v => IsCreateFloorVisible = v)"
                  OnCreated="ReloadFloorsAsync" />

<CreateRoomModal @ref="RoomModalRef"
                 Visible="IsCreateRoomVisible"
                 VisibleChanged="@(v => IsCreateRoomVisible = v)"
                 FloorId="@SelectedFloorId"
                 OnCreated="ReloadRoomsAsync" />


@*
        Rezerv Modalını burada yaz
        Fonksiyon olarak yaz
        Event olarak yaz
*@


@* <CreateBookingModal @ref="BookingModalRef"
                    Visible="IsCreateBookingVisible"
                    VisibleChanged="@(v => IsCreateBookingVisible = v)"
                    RoomId="@SelectedRoomId"
                    RoomName="@SelectedRoomName" /> *@



@code {
    [Parameter] public Guid RoomId { get; set; }
    [Parameter] public String RoomName { get; set; } = "";
    [Parameter] public bool Visible { get; set; }
    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }

    private List<FloorDto> Floor = new();
    private List<RoomDto> Rooms = new();

    private string SelectedTab;

    private bool IsCreateFloorVisible;
    private bool IsCreateRoomVisible;

    private CreateRoomModal RoomModalRef = new();
    private CreateFloorModal FloorModalRef = new();

    

    private Validations CreateValidations;        
    //
    // Functions
    //
    private Guid SelectedFloorId
    {
        get
        {
            return Guid.TryParse(SelectedTab, out var id) ? id : Guid.Empty;
        }
    }
    //
    //When Program Initialized
    //
    protected override async Task OnInitializedAsync()
    {
        await ReloadRoomsAsync();
        await ReloadFloorsAsync();
        await base.OnInitializedAsync();
    }
    //
    // Selecting Tab
    //
    private Task OnSelectedTabChanged(string name)
    {
        SelectedTab = name;
        return Task.CompletedTask;
    }
    //
    // Floor Modal
    //
    private async Task OpenFloorModalAsync()
    {
        FloorModalRef?.Reset();
        IsCreateFloorVisible = true;
        await Task.CompletedTask;
    }
    //
    // Room Modal
    //
    //
    private async Task OpenRoomModalAsync()
    {
        RoomModalRef?.Reset();
        IsCreateRoomVisible = true;
        await Task.CompletedTask;
    }
    //
    // Load Floors When Opening Program
    //
    //
    private async Task ReloadFloorsAsync()
    {
        var result = await FloorAppService.GetListAsync(new PagedAndSortedResultRequestDto());
        var floorList = result.Items.ToList();

        foreach (var floor in floorList)
        {
            var roomResult = await RoomAppService.GetListAsync(new RoomInputListDto
            {
                FloorID = floor.Id
            });

            floor.Rooms = roomResult.Items.ToList();
        }

        Floor = floorList;

        if (Floor.Any() && string.IsNullOrWhiteSpace(SelectedTab))
        {
            SelectedTab = Floor.First().Id.ToString();
        }
    }
    //
    // Load Rooms When Opening Program
    //
    //
    private async Task ReloadRoomsAsync()
    {
        if (SelectedFloorId != Guid.Empty)
        {
            var result = await RoomAppService.GetListAsync(new RoomInputListDto
            {
                FloorID = SelectedFloorId
            });

            Rooms = result.Items.ToList();
        }
    }
    //
    //
    //


}
